<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
    <Bundle Name="AudioCycler" Version="1.0.0.0" Manufacturer="BergerTech" UpgradeCode="4d19e201-0894-4cf3-9d6c-9629c505a96d">
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
            <bal:WixStandardBootstrapperApplication
                LicenseFile="..\Resources\Documents\License.rtf"
                LogoFile="..\Resources\Images\icon_installer.ico"
            />
        </BootstrapperApplicationRef>
        <Chain>
            <!-- TODO: Define the list of chained packages. -->
            <MsiPackage SourceFile="$(var.MSISetup.TargetPath)" />
            <!-- <MsiPackage SourceFile="path\to\your.msi" /> -->
        </Chain>
    </Bundle>
</Wix>